.form-control{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(243 243 243);
}

.input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border: hidden;
  padding-left: 15px;
}

.input-box img{
  filter: brightness(0) saturate(100%) invert(60%) sepia(45%) saturate(571%) hue-rotate(152deg) brightness(92%) contrast(87%);
}

.form-icon{
  border: #48a9d1;
  margin-left: 25px;
  margin-top: 10px;
  height: 25px;
  width: 25px;
}

.input-box label{
  color: #48a9d1;
  font-weight: 900;
  margin-left: 15px;
  margin-top: 10px;
}

.input-radio{
  height: 20px !important;
  width: 15px !important
}

.radio-label{
  display : flex;
  flex-direction : row;
}

form .input-radio .radio-title{
  font-size: 20px;
  font-weight: 500;
}

.file-img{
  height: 50px;
  width: 50px;
}

.btn-submit{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #48a9d1;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

